{{- $value := .Get "value" | default "" }}
{{- $explanation := .Get "explanation" | default "" }}
{{- $parentId := "" }}
{{- if $.Parent }}
{{- $parentId = $.Parent.Get "id" | default (printf "quiz-%d" (now.Unix)) }}
{{- else }}
{{- $parentId = printf "quiz-%d" (now.Unix) }}
{{- end }}
<div class="quiz-option" data-value="{{ $value }}" data-explanation="{{ $explanation }}">
  <input type="radio" name="{{ $parentId }}" id="{{ $parentId }}-{{ $value }}" value="{{ $value }}">
  <label for="{{ $parentId }}-{{ $value }}">
    <span class="quiz-option-label">{{ $value }}.</span><span class="quiz-option-text">{{ .Inner | markdownify }}</span>
  </label>
</div>